In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("train.csv")
df = df.drop(['uniqueid'], axis=1)
df.head()

,year,personid,x1,x2,x3,x4,x5,x6,x7,x8,...,x1197,x1198,x1199,x1200,x1201,x1202,x1203,x1204,x1205,health
0,2005,3999,5.0,3.0,5.0,4.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,2,160,1.0,4.0,NaN,2
1,2005,3997,3.0,3.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,140,3.0,5.0,NaN,3
2,2005,3996,4.0,4.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,140,3.0,5.0,NaN,5
3,2005,3995,3.0,2.0,3.0,3.0,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,2,150,1.0,5.0,NaN,3
4,2005,3993,4.0,2.0,4.0,4.0,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,2,130,5.0,8.0,NaN,3

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler

# naive data processing using mean for imputation, and not differentiating between numerical and categorical data.

X = df.drop(["health"], axis=1)
X = X.values
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(X)
X = imp.transform(X)
scaler = MinMaxScaler()
X = scaler.fit_transform(X)
y = df['health']
y = y.values

In [3]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import GridSearchCV

# neural network trained on this naively processed data.

size_hl = int(np.floor((len(df.columns)-1+5)/2))
model = MLPClassifier(random_state=20803652, hidden_layer_sizes=(size_hl), max_iter=1000)
param_grid = dict(learning_rate_init=[0.001, 0.01, 0.1, 0.2], alpha=[0, 0.0001, 0.001, 0.01])
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring="neg_log_loss", n_jobs=-1, verbose=1)
grid_result = grid.fit(X, y)
print(grid_result.best_score_)
print(grid_result.best_params_)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 64 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 out of  80 | elapsed: 18.9min remaining: 25.6min
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed: 32.9min finished

-1.2382524692841628
{'alpha': 0.01, 'learning_rate_init': 0.01}